.transactionHistory {
    width: 100%;
    border-collapse: collapse;
  }
  
.transactionHistory th, 
.transactionHistory td {
  padding: 4px;
  border: 1px solid black;
}

.transactionHistory th {
  background-color: rgb(33, 32, 32);
  color: #ffffff;
}

.transactionHistory tr:nth-child(even) {
  background-color: #d4d2d2;
}

.transactionHistory  tr:nth-child(odd) {
  background-color: #ffffff;
}